
.feature-scroll menu
{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-basis: max-content;

    justify-self: left;
    justify-content: flex-start;

    gap: 1rem;
    padding: 1rem 0;
    margin: 0;

}

.feature-scroll div
{
    width: 100%;
    height: 10vh;

    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;

    padding: 0.5rem;
}

.feature-scroll p
{
    text-align: left;
}

.feature-scroll h3
{
    font-size: 1.2rem;
    text-align: left;
}

li.feature-scroll
{
    width: 100%;

    padding: 0;
    margin: 0;
}

.feature-scroll button:focus {
    outline: none;
}

.feature-scroll button.feature-button-active
{
    border-color: #535bf2;
}

.feature-scroll button.feature-button-inactive
{
    border-color: #000000;
}

.feature-scroll h2 {
    justify-self: left;
}
