.game-container
{
    justify-self: center;

    width: 30rem;
    height: 30rem;

    background: #242424;

    border-radius: 3rem;

    box-shadow: inset 0.6rem 0.6rem 2rem #141414,
    inset -0.6rem -0.6rem 2rem #343434;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-score
{
    justify-self: center;

    width: 25rem;
    height: 10rem;

    background: #242424;

    border-radius: 3rem;

    box-shadow: inset 0.6rem 0.6rem 2rem #141414,
    inset -0.6rem -0.6rem 2rem #343434;

    transition: opacity 200ms ease, background-position 200ms ease;
}

button.game-square
{
    appearance: none;
    border: none;


    width: 7rem;
    height: 7rem;

    margin: 1.5rem;

    border-radius: 50%;

    outline: none;

    transition: opacity 200ms ease, background-position 200ms ease;
}

.fade
{
    opacity: 30%;
}

button.game-score
{
    appearance: none;
    border: none;
    outline: none;
}



/*
#3a4fbb
#5677ff

#bb3a3a
#ff5656
 */

.Z, .X, .O
{
    background-size: 200% 200%;
    background-position: 0 0, 0 0;
}

.Z:hover, .X:hover, .O:hover
{
    background-position: 100% 100%, 0 0;
}

.Z
{
    background-image: linear-gradient(145deg, #494949, #2d2d2d, #2d2d2d, #494949);

    box-shadow:  0.4rem 0.4rem 0.5rem #141414,
    -0.4rem -0.4rem 0.5rem #343434;
}

.X
{
    background-image: linear-gradient(145deg, #5f77ea, #364179, #364179, #5f77ea);

    box-shadow:  0.4rem 0.4rem 0.5rem #141414,
    -0.4rem -0.4rem 0.5rem #343434;
}

.O
{
    background-image: linear-gradient(145deg, #d05858, #5d2f2f, #5d2f2f, #d05858);

    box-shadow:  0.4rem 0.4rem 0.5rem #141414,
    -0.4rem -0.4rem 0.5rem #343434;
}

p.W
{
    color: #c2c2c2;
    font-size: 3.4rem;
    font-weight: 1200;
    letter-spacing: 0.05em;
    margin: 1rem;
}

